{
  "presets": ["@babel/preset-react"],
  "env": {
    "es6": {
      "presets": [["@babel/preset-env", { "modules": false }]]
    },
    "development": {
      "presets": ["@babel/preset-env"]
    },
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
